 <style type="text/css">
 #wrap {width: 1280px;  height: 4000px; margin: 0 auto;}

   #title {text-align: center;}

   #a {text-align: center;}

   #b {text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;}

   #c {text-align: center;
      margin-top: 80px;
      margin-bottom: 80px;}

   #d {text-align: center;}

   #peach {text-align: center;
         margin-bottom: 80px;}


   .image {position: relative;
         text-align: center;
         margin-top: 90px;}


   .image.text {position: absolute;
      text-align: center;
      margin-bottom: 80px;}


   html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        margin: 0;
        padding: 0;
      }
      .swiper {
        width: 1011px;
        height: 555px;
      }

      .swiper-slide {
         
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .swiper-button-next {
         color: yellow;
      }
      
      .swiper-button-prev {
         color: yellow;
      }
   </style>
